pennylane
pennylane-lightning
matplotlib
numpy
jax
jaxlib
torch
pandas
seaborn
optax
scipy
sympy
scikit-learn
tqdm
awkward
ipython
ipykernel
nbclient
nbconvert
setuptools
typing_extensions
readline
sqlite
zlib